<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name}">File Reconciliation Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1><span th:text="${name}"></span></h1>
    <hr/>
    <p>
    <h2 th:text="'File status: ' + ${matched ? 'Success' : 'Fail'}"></h2>
    <table th:border="1">
        <h3>File Configuration</h3>
        <tr>
            <td>Separator</td>
            <td th:text="${separator}"></td>
        </tr>
        <tr>
            <td>Expected files directory</td>
            <td th:text="${expectedDir}"></td>
        </tr>
        <tr>
            <td>Actual files directory</td>
            <td th:text="${actualDir}"></td>
        </tr>
        <tr>
            <td>Difference tolerance (Actual)</td>
            <td th:text="${numericFieldDiffToleranceActual}"></td>
        </tr>
        <tr>
            <td>Difference tolerance (Percentage)</td>
            <td th:text="${numericFieldDiffTolerancePercent}"></td>
        </tr>
    </table>
    </p>
    <p>
    <table th:if="${missingFromExpected}" th:border="1">
        <h2 th:text="'Unexpected additional lines: ' + ${missingFromExpected.size()}"></h2>
        <tr th:each="line : ${missingFromExpected}">
            <td th:text="${line}"></td>
        </tr>
    </table>
    </p>
    <p>
    <table th:if="${missingFromActual}" th:border="1">
        <h2 th:text="'Expected, but missing lines: ' + ${missingFromActual.size()}"></h2>
        <tr th:each="line : ${missingFromActual}">
            <td th:text="${line}"></td>
        </tr>
    </table>
    </p>
    <p>
    <p>
    <div th:if="${errorMessage}" th:border="1">
        <h2>An Error Occurred</h2>
        <span th:text="${errorMessage}"></span>
    </div>
    </p>
    <p>
    <table th:if="${rowResults}" th:border="1">
        <h2>Unmatched Rows</h2>
        <tr>
            <th th:each="field : ${fields}" th:text="${field.name}"></th>
        </tr>
        <tr th:each="row : ${rowResults}">
            <td th:each="field : ${row.fieldResults}" th:text="${field.actual}"></td>
        </tr>
    </table>
    </p>
    <br/>
    <hr/>
    <a th:href="@{home.html}">Home</a>
</div>
</body>
</html>