<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reconciliation Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>File Reconciliation Results</h1>
    <hr/>
    <p>
    <h2 th:text="'Overall status: ' + ${matched ? 'Success' : 'Fail'}"></h2>
    <table th:border="1" width="1000">
        <h3>Configuration</h3>
        <tr>
            <td>Expected files directory</td>
            <td th:text="${expectedDir}"></td>
        </tr>
        <tr>
            <td>Actual files directory</td>
            <td th:text="${actualDir}"></td>
        </tr>
        <tr>
            <td>Difference tolerance (Actual)</td>
            <td th:text="${numericFieldDiffToleranceActual}"></td>
        </tr>
        <tr>
            <td>Difference tolerance (Percentage)</td>
            <td th:text="${numericFieldDiffTolerancePercent}"></td>
        </tr>
    </table>
    </p>
    <p>
    <table th:border="1" width="1000">
        <h3>Files</h3>
        <tr>
            <th>Directory</th>
            <th>Name</th>
            <th>Matched</th>
        </tr>
        <tr th:each="file : ${fileNames}">
            <td th:text="${file.first}"></td>
            <td><a th:href="__${file.third}__" th:text="${file.second}"></a></td>
            <td th:text="${file.fourth}"></td>
        </tr>
    </table>
    </p>
    <br/>
    <hr/>
    <a th:href="@{index.html}">Home</a>
</div>
</body>
</html>